# Temporary Files
*.swp
*.bak
*.tmp
*.tmp.diff
*.tmp.patch

# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj
*.ko
*.elf

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib
# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Build folder
build/

*.pro.user
*.autosave
CMakeLists.txt.user
CMakeCache.txt
cmake-build-debug/
.idea/
mangadex_fetcher
mangadex_fetcher.*
